repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-json
    - id: detect-private-key
    - id: pretty-format-json
      args: [--autofix]
