.createMatch .nameProposalPrompt {
  font-size: 11px;
  margin: -10px 0 15px 0;
}

.createMatch .nameProposalButton {
  padding: 0;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: #4183c4;
}

.createMatch .nameProposalButton:hover {
  color: #1e70bf;
}
