name: Merge me!

on:
  # Triggers when a workflow is run.
  workflow_run:
    workflows: ["Test octoboard"]
    branches-ignore: ["master"]
    types:
      - completed

jobs:
  merge-me:
    name: Merge me!
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Merge me!
        uses: ridedott/merge-me-action@v2.8.10
        with:
          # This must be used as GitHub Actions token does not support
          # pushing to protected branches.
          GITHUB_TOKEN: ${{ secrets.AUTO_MERGE_TOKEN }}
          PRESET: DEPENDABOT_MINOR
